.container-navbar {
  padding: 0px 20px;
  background-color: black;
  color: white;
  // position: absolute;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1200px;
  margin: 0px auto;

  button {
    // margin-left: 70em;
    color: black;
    font-size: 12px;
  }

  a {
    margin-left: 550px;
  }
}

.modal {
  position: absolute;
  background-color: white;
  z-index: 30;
  top: 250px;
  left: 600px;
}

// .input-header {
//   margin-left: 100px;
//   margin-top: 30px;
// }

// .button-header {
//   margin-top: 30px;
//   margin-left: 70em;
//   color: black;
// }
